@using CyclingZone.Common
@{
    this.ViewData["Title"] = "Home Page";
}





<p class="text-center">
    This website template has been designed by 
    <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.
</p>

<div id="articles">
    <ul>
        <li>
            <img src="images/biker.jpg" alt="Img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi risus, iaculis vitae imperdiet et, ultrices non elit. Aliquam est purus, tristique dictum
            </p>
            <a href="blog.html" class="more">Read more >></a>
        </li>
        <li>
            <img src="images/biker2.jpg" alt="Img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi risus, iaculis vitae imperdiet et, ultrices non elit. Aliquam est purus, tristique dictum
            </p>
            <a href="blog.html" class="more">Read more >></a>
        </li>
        <li>
            <img src="images/biker3.jpg" alt="Img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi risus, iaculis vitae imperdiet et, ultrices non elit. Aliquam est purus, tristique dictum
            </p>
            <a href="blog.html" class="more">Read more >></a>
        </li>
    </ul>
</div>