@using CyclingZone.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body class="bg-secondary">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3">
            <div class="container-fluid">
                <div id="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="images/cycleZone.gif" alt="LOGO"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                News
                            </a>
                            <div style="margin-right: -1000px;" class="dropdown-menu list-inline bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
                                <a class="list-inline-item text-light m-2" href="#">Latest</a>
                                <a class="list-inline-item text-light m-2" href="#">Racing</a>
                                <a class="list-inline-item text-light m-2" href="#">ProductNews</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reviews
                            </a>
                            <div  style="margin-right: -1000px;" class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
                                <a class="list-inline-item text-light m-2" href="#">Bike Rewievs</a>
                                <a class="list-inline-item text-light m-2" href="#">Bike Components</a>
                                <a class="list-inline-item text-light m-2" href="#">Bike Acessories</a>
                                <a class="list-inline-item text-light m-2" href="#">Clothing</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Fitness
                            </a>
                            <div style="margin-right: -1000px;" class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
                                <a class="list-inline-item text-light m-2" href="#">Latest Fitnes</a>
                                <a class="list-inline-item text-light m-2" href="#">Nutrition</a>
                                <a class="list-inline-item text-light m-2" href="#">Bike Fit</a>
                                <a class="list-inline-item text-light m-2" href="#">Training</a>
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="text-center bg-dark">
            <h3 class="text-light pb-3 pt-3">All about road cycling</h3>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid footer border-top bg-dark">
        <div class="mt-1">
            <h2 class="text-lg-center">In Bike We Trust!</h2>
        </div>
        <div class="container text-light">
            &copy; 2021 - RoadRideFun - <a class="text-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>$('.dropdown').hover(function () {
    $('.nav-link', this).trigger('click');
        });</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
