@{
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
    this.ViewData["Title"] = "Forum";
}


<div class="row mb-lg-5">
    <div class="col-1"></div>
    <div class="col-6">
        <h2>Bike Forum | Cycling Zone</h2>
        <span>The CuclingZone Forum community offers advice and discussion on road cycling. Buy or sell bikes in our popular classifieds section.</span>
    </div>
</div>
<div class="row mt-lg-5">
    <div class="col-1"></div>
    <div class="h3 panel-heading col-6">
        <a href="https://forum.bikeradar.com/categories/road-cycling-forum" class="Title">Road cycling forum</a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
                <span>
                    <span title="178,444 discussions">178.4K</span> discussions
                </span>
                <span class="">
                    <span title="2,827,345 posts">2.8M</span> posts
                </span>
                <span class="">
                    <span>
                        <span>Most recent:</span>
                        <a href="/discussion/13114811/marcel-kittels-tdf-power#latest">Marcel Kittel's TdF power</a>
                        <span>
                            by
                            <a href="/profile/bobmcstuff" class="UserLink js-userCard" data-userid="130381">bobmcstuff</a>
                        </span>
                    </span>
                </span>
                <span class="">
                    14:39
                </span>
            </div>
        </div>
    </div>
</div>